<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>凯德微信平台管理系统</webname>
  <weburl>http://kdwechat.companycn.net</weburl>
  <weblogo />
  <webcompany>中华企业网</webcompany>
  <webaddress>上海市广纪路738号1幢1号楼103室</webaddress>
  <webtel>021-60835835</webtel>
  <webfax>021-60835865</webfax>
  <webmail>info@it134.cn</webmail>
  <webcrod>英特网接入服务ISP号：沪B2-20030170</webcrod>
  <webtitle>凯德微信平台管理系统</webtitle>
  <webkeyword>微信，凯德</webkeyword>
  <webdescription>中华企业网 (上海派维网络科技有限公司) 是一家集门户网站开发、网络集成、网络应用、网络服务、软件研究、软件开发及系统集成为一体的高科技企业。</webdescription>
  <webcopyright>
    ©1997-2014 版权所有 中华企业网 上海派维网络科技有限公司
  </webcopyright>
  <webpath>/</webpath>
  <webmanagepath>/</webmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>&lt;script src="http://s24.cnzz.com/stat.php?id=1996164&amp;web_id=1996164&amp;show=pic" language="JavaScript"&gt;&lt;/script&gt;</webcountcode>
  <smsapiurl>http://sms.dtcms.net/httpapi/</smsapiurl>
  <smsusername>test</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailport>25</emailport>
  <emailfrom>info@it134.cn</emailfrom>
  <emailusername>info@it134.cn</emailusername>
  <emailpassword>EA4C94A47ED87546</emailpassword>
  <emailnickname>凯德集团</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,jpeg,png,bmp,mp4,mp3,flv,avi,amr,wav,wma,rm,rmvb,wmv,mpg,mpeg,rar,zip,doc,xls,txt</fileextension>
  <attachsize>51200</attachsize>
  <imgsize>10240</imgsize>
  <imgmaxheight>800</imgmaxheight>
  <imgmaxwidth>800</imgmaxwidth>
  <thumbnailheight>300</thumbnailheight>
  <thumbnailwidth>300</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>凯德集团</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>t_</sysdatabaseprefix>
  <sysencryptstring>KDWechat</sysencryptstring>
</siteconfig>