<?xml version="1.0"?>
<statisticsconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <dbtables>
    <model >
      <id>509618609927420</id>
      <name>t_st_diymenu_click</name>
    </model>
    <model>
      <id>958809765340067</id>
      <name>t_st_graohic_click</name>
    </model>
    <model>
      <id>354547955828498</id>
      <name>t_st_graphic_share</name>
    </model>
    <model>
      <id>505160032019047</id>
      <name>t_st_graphic_view</name>
    </model>

    <model>
      <id>137126153799817</id>
      <name>t_st_keyword_view</name>
    </model>

    <model>
      <id>560695923823105</id>
      <name>t_st_project_share</name>
    </model>

    <model>
      <id>166584994832335</id>
      <name>t_st_project_view</name>
    </model>

    <model>
      <id>475571062889544</id>
      <name>t_st_fullview_view</name>
    </model>

    <model>
      <id>927077766019596</id>
      <name>t_st_fullview_share</name>
    </model>

    <model>
      <id>493425117340339</id>
      <name>t_st_reserve_view</name>
    </model>

    <model>
      <id>553527906917575</id>
      <name>t_st_reserve_share</name>
    </model>

    <model>
      <id>801533136003175</id>
      <name>t_st_signup_view</name>
    </model>

    <model>
      <id>711979007785374 </id>
      <name>t_st_signup_share</name>
    </model>
    
    <model>
      <id>030712247742525</id>
      <name>t_st_quest_view</name>
    </model>

    <model>
      <id>606800743879765</id>
      <name>t_st_quest_share</name>
    </model>
    <model>
      <id>625197703524407</id>
      <name>t_st_website_view</name>
    </model>

    <model>
      <id>993577741048834</id>
      <name>t_st_rafflescity10th_view</name>
    </model>

    <model>
      <id>775235771118900</id>
      <name>t_st_rafflescity10th_share</name>
    </model>

    <model>
      <id>445235771118922</id>
      <name>t_st_linnkout_view</name>
    </model>
  </dbtables>
</statisticsconfig>
