<?xml version="1.0"?>
<wechatconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <domain>http://mitsumi.admin.companycn.net</domain>
  <is_use_default_template>0</is_use_default_template>
  <news_templat_path>wxpage/news_template.aspx</news_templat_path>
  <lbs_templat_path>wxpage/news_detail.aspx</lbs_templat_path>
  <pic_templat_path />
  <video_templat_path />
  <voice_templat_path>wxpage/audio_detail.aspx</voice_templat_path>
  <templat_share_html />
  <templat_good_event />
  <qy_manage_group>8</qy_manage_group>
  <qy_agent_id>3</qy_agent_id>
  <qy_app_id>wx90d7f1e4a84ef76f</qy_app_id>
  <qy_app_secret>E6Y26a0iW7CugS78JK_IqFJYaMGjXH1h0mHCjAqwmxxyRT_raMp-fMFuo_3Bsx8I</qy_app_secret>
</wechatconfig>