@charset "UTF-8";
/* CSS Document */

i, sup, label{ zoom:1; display:inline;}

.btn, .txt{ zoom:1; display:inline;}

.btn1,.btn2,.btn3{ min-width:90px;}
.btn5{ min-width:78px;}
.btn6{ min-width:68px;}


.table .btn{ min-width:48px;}

.checkBoxList label{ zoom:1; display:inline;}

.fileAera{ zoom:1; display:inline;}


.listPanel_01 dl{ zoom:1;}
.listPanel_01 dl dd em{ zoom:1; display:inline;}
.listPanel_01 dl dd .box{ zoom:1; display:inline;}

.listPanel_01 label{ zoom:1; display:inline;}

.editList li .show{ zoom:1;}

.listPanel_02 dl.appShow dd .info{ zoom:1;}


.listPanel_03 dl{ zoom:1;}

.fullviewUploader ul li{ zoom:1; display:inline;}


.selectAera{ zoom:1; display:inline;}

.filterPanel_01 dl{ zoom:1;}
.filterShowPanel_01 .selectedList{ zoom:1;}


.table a{ zoom:1; display:inline;}
.pageNum a{ zoom:1; display:inline;}


.picListPanel_01 .listField ul li{ zoom:1; display:inline;}


.graphicMaterialModule_01{ zoom:1;}


.searchPanel_01{ zoom:1;}

.tipText1{ zoom:1; display:inline;}


.messageNTab ul li{ zoom:1; display:inline;}
.messageNTabPanel_01 ul li a span{ zoom:1; display:inline;}


.userListPanel_01 .control label{ zoom:1; display:inline;}

.userBaseInfo{ zoom:1;}

.userTags .list ul li{ zoom:1; display:inline;}

.userMessage{ zoom:1;}
.userMessage .audio{ zoom:1; display:inline;}


.weixinInfoPanel_01{ zoom:1;}

.statisticsListPanel_01 .listField .title{ zoom:1;}
.statisticsListPanel_01 .totalField{ zoom:1;}
.statisticsListPanel_01 .listField .statistics{ zoom:1;}

.appListPanel_01 .listField ul li{ zoom:1; display:inline;}

#salesHeader .navField ul li{ zoom:1; display:inline;}
#salesHeader .userField p span{ zoom:1; display:inline;}

.userListPanel_02 .listField ul li{ zoom:1;}
.userListPanel_02 .tipField p{ zoom:1; display:inline;}

.dialoguePanel_01 .listField ul li{ zoom:1;}


.btnPanel_01 .fileAera{ zoom:1; display:inline;}

.titlePanel_01{ zoom:1;}
.titlePanel_01 .btns .searchField{ zoom:1; display:inline;}

.fullViewBoxPanel_01 .titleField{ zoom:1;}

.graphicGroupMaterialList ul li .info{ zoom:1;}

.infoPanel_01 dl{ zoom:1;}

.helpPanel_01{ zoom:1;}
.helpPanel_01 .title h1{ zoom:1; display:inline;}

.navSettingModule_01{ zoom:1;}