.bodyStyle_01{background:url(../images/login_bg.jpg) 50% 100px no-repeat #1f497d}

.mgLoginPannel{ width:100%}
.mgLoginPannel .loginArea{ width:840px; height:320px; position:absolute; top:50%; left:50%; margin:-160px 0 0 -420px; color:#000000; z-index:2}
.mgLoginPannel .loginArea .bg{ background:url(../images/login_bg2.png) 0 0 no-repeat;padding:0 0 0 410px;}
.mgLoginPannel .loginArea .bg_style{background:url(../images/login_bg2_2.png) 0 0 no-repeat;}
.mgLoginPannel .loginArea .loginOut{ background:url(../images/login_bg3.png) 0 0 no-repeat; padding:28px 55px 42px 28px; }
.mgLoginPannel .loginArea .loginOut dl{zoom:1; margin-bottom:20px; font-size:13px; line-height:30px}
.mgLoginPannel .loginArea .loginOut dl:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.mgLoginPannel .loginArea .loginOut dl dt{ float:left; width:85px; text-align:right}
.mgLoginPannel .loginArea .loginOut dl dd{ margin-left:85px}
.mgLoginPannel .loginArea .loginOut dl dd .txt{ width:247px}
.mgLoginPannel .loginArea .loginOut dl dd .txt2{ width:170px}
.mgLoginPannel .loginArea .loginOut dl dd .code{ display:inline-block;zoom:1;*display:inline; margin-left:20px;background: #fff;margin: 0;vertical-align: middle;width:60px}
.mgLoginPannel .loginArea .loginOut dl dd .code img{ vertical-align:middle}
.mgLoginPannel .loginArea .loginOut .signinbtn{text-align:center; padding:15px 0 0}
.mgLoginPannel .loginArea .loginOut .signinbtn .sibtn{ width:240px; cursor:pointer; display:inline-block;zoom:1;*display:inline; border:0 none; background:#2361aa; height:40px; line-height:40px; text-align:center; font-size:15px; font-weight:bold; color:#ffffff}
.mgLoginPannel .loginArea .copyright{ padding:15px 0 0; color:#ffffff}


.tableStyle_02{width:100%;  padding:0; margin:0; background:#ffffff; border:1px solid #c5c5c5;}
.tableStyle_02 span{ display:inline-block;zoom:1;*display:inline; vertical-align:middle; width:50px;position:relative }
.tableStyle_02 a{ display:block; padding: 0 5px; line-height:30px; height:35px; font-size:14px; text-indent:-9999px; }
.tableStyle_02 .link1{ background:url(../images/icon_01.png) 15px 50% no-repeat; }
.tableStyle_02 .link2{ background:url(../images/icon_02.png) 15px 50% no-repeat; }
.tableStyle_02 .link3{ background:url(../images/icon_03.png) 15px 50% no-repeat; }
.tableStyle_02 .link4{ background:url(../images/icon_04.png) 15px 50% no-repeat; }
.tableStyle_02 .link5{ background:url(../images/icon_05.png) 15px 50% no-repeat; }
.tableStyle_02 .link6{ background:url(../images/icon_06.png) 15px 50% no-repeat; }
.tableStyle_02 .on .link1,.tableStyle_02 .link1:hover{ background:url(../images/icon_01_2.png) 15px 50% no-repeat; }
.tableStyle_02 .on .link2,.tableStyle_02 .link2:hover{ background:url(../images/icon_02_2.png) 15px 50% no-repeat; }
.tableStyle_02 .on .link3,.tableStyle_02 .link3:hover{ background:url(../images/icon_03_2.png) 15px 50% no-repeat; }
.tableStyle_02 .on .link4,.tableStyle_02 .link4:hover{ background:url(../images/icon_04_2.png) 15px 50% no-repeat; }
.tableStyle_02 .on .link5,.tableStyle_02 .link5:hover{ background:url(../images/icon_05_2.png) 15px 50% no-repeat; }
.tableStyle_02 .on .link6,.tableStyle_02 .link6:hover{ background:url(../images/icon_06_2.png) 15px 50% no-repeat; }
.tableStyle_02 span .text{ position:absolute; top:31px; left:0; width:50px; background:url(../images/icon_12.png) 50% 0 no-repeat; padding:4px 0 0; display:none}
.tableStyle_02 span .text .tt{ background:#000000; height:25px; width:100%; text-align:center; line-height:25px; color:#ffffff}


.listPanel_01 .newgraphic dd .selectAera{ width:384px; margin-right:0}

.newmassPannle{  margin: 0 0 0 20px;padding: 20px 0 20px;width: 780px;}
.newmassPannle .tableStyle_01{ width:100%; margin:0; padding:0;}
.newmassPannle .tableStyle_01 td { padding:4px 0}
.newmassPannle .tableStyle_01 td dl{zoom:1;}
.newmassPannle .tableStyle_01 td dl:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.newmassPannle .tableStyle_01 td dl dt{ width:90px; float:left; line-height:28px; text-align:right}
.newmassPannle .tableStyle_01 td dl dd{ margin-left:90px; line-height:28px}
.newmassPannle .tableStyle_01 td dl dd .date{ width:82px}
.newmassPannle .tableStyle_01 td dl dd .selectAera{ width:114px}

.newmassPannle .tableStyleContent{margin:20px  0; padding:0 10px 0 0}
.newmassPannle .tableStyleContent .children{ border:1px solid #c5c5c5; width:100%; border-top:0 none; background:#ffffff}
.newmassPannle .tableStyleContent .children .textarea { border:none;font-size: 12px;height:338px;line-height: 16px; width:758px;margin: 0;overflow: auto;padding: 6px; border-bottom:1px solid #c5c5c5}
.newmassPannle .tableStyleContent .children .infor{zoom:1; padding:2px 10px}
.newmassPannle .tableStyleContent .children .infor:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.newmassPannle .tableStyleContent .children .infor span{ display:block; float:right; text-align:right; color:#888888}
.newmassPannle .tableStyleContent .children .infor .photo{}
.newmassPannle .tableStyleContent .children .picchild{ padding:20px;}
.newmassPannle .tableStyleContent .children .picchild .pic{ width:250px;border:1px solid #d3d2d2; padding:10px}
.newmassPannle .tableStyleContent .children .picchild h2{ font-weight:bold; padding-bottom:10px}

.newmassPannle .tableStyleContent .children .texpicchild{ padding:20px;}
.newmassPannle .tableStyleContent .children .texpicchild .outline{ width:250px; border:1px solid #d3d2d2; padding:10px}
.newmassPannle .tableStyleContent .children .texpicchild .outline h2{ font-weight:bold; line-height:20px}
.newmassPannle .tableStyleContent .children .texpicchild .outline h3{ font-weight:normal; color:#b6b6b6;line-height:20px; padding-bottom:5px}
.newmassPannle .tableStyleContent .children .texpicchild .outline .pic{ width:100%}

.newmassPannle .btnPanel_01{ font-size:12px;margin: 0;padding:0; width: 680px;}
.newmassPannle .btnPanel_01 .text{ display:inline-block;zoom:1;*display:inline; vertical-align:middle; background:url(../images/icon_11.png) 0 50% no-repeat; padding-left:8px;}
.newmassPannle .btnPanel_01 .text p{color:#e60020; border:1px solid #b0b0b0; border-left:0 none; word-break: break-all; word-wrap: break-word;height:28; padding:0 10px; background:#ffffff}
.newmassPannle .btnPanel_01 .text em{font-style: normal;font-weight: 400; color:#e60020; padding:0 5px}

.weiwangzhan_shouye{margin: 0 20px;padding: 20px 0 0; width:760px}
.weiwangzhan_shouye  dl{zoom:1; padding-bottom:10px}
.weiwangzhan_shouye  dl:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.weiwangzhan_shouye  dt{ float:left; width:80px; text-align:right}
.weiwangzhan_shouye  dd{ margin-left:80px; line-height:24px}
.weiwangzhan_shouye  dd .text_wd1{ width:234px}
.weiwangzhan_shouye  dd .text_wd2{ width:253px}
.weiwangzhan_shouye  dd .text_wd3{ width:182px}
.weiwangzhan_shouye  dd .textarea {height: 108px; width: 253px;}
.weiwangzhan_shouye  dd input{ vertical-align:middle}
.weiwangzhan_shouye .section1{ zoom:1;}
.weiwangzhan_shouye .section1:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.weiwangzhan_shouye .section1 .leftPart{ float:left; width:383px; margin-right:15px; background:url(../images/icon_13.png) 100% 50% no-repeat; padding-right:10px;}
.weiwangzhan_shouye .section1 .leftPart .content{background:#ffffff; padding:18px 18px 8px; }
.weiwangzhan_shouye .section1 .rightPart{ float:left; width:352px; background:#ffffff; }
.weiwangzhan_shouye .section1 .rightPart .content{ padding:18px 18px 8px;}
.weiwangzhan_shouye .section1 .rightPart .content h1{ font-size:14px; font-weight:bold; font-family:"微软雅黑"}
.weiwangzhan_shouye .section1 .rightPart .content h2{ color:#888888;  font-family:"微软雅黑"; font-weight: normal}
.weiwangzhan_shouye .section1 .rightPart .content .pic{ padding:10px 0}
.weiwangzhan_shouye .section1 .rightPart .content .pic img{ display:block; width:100%; height:auto; vertical-align:middle}
.weiwangzhan_shouye .section1 .rightPart .content p{color:#888888; padding-bottom:15px; border-bottom:1px solid #a8a8a8; line-height:18px}
.weiwangzhan_shouye .section1 .rightPart .content .more{ padding:11px 0;}
.weiwangzhan_shouye .section1 .rightPart .content .more a{ color:#000000}
.weiwangzhan_shouye .section2{ margin:20px 0; border:1px solid #a8a8a8; border-left:0 none; border-right:0 none; padding:20px 0 10px}
.weiwangzhan_shouye .btnPanel_01{ margin:0; padding:0}

.gongneng_application{margin: 0 0  40px 20px; width:740px}
.gongneng_application h1{ font-size:14px; font-weight:bold; padding:18px 0 15px}
.gongneng_application .applicationField{ background:#ffffff; padding:20px 0 0}
.gongneng_application .applicationField dl{zoom:1}
.gongneng_application .applicationField dl:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.gongneng_application .applicationField dl dd{ display:inline-block;zoom:1;*display:inline; width:206px;  padding:0 19px  20px 19px; vertical-align:top}
.gongneng_application .applicationField dl dd .pic{ border:1px solid #e8e8e8;height:224px;}
.gongneng_application .applicationField dl dd .name{ padding:8px 0 0; text-align:center}
.gongneng_application .applicationField dl dd .anniu{ border:1px solid #e8e8e8;  width:124px; height:28px; line-height:28px; text-align:center; margin:4px auto 0}
.gongneng_application .applicationField dl dd .anniu a{ display:block; width:100%; height:100%; text-align: center; line-height:28px}
.gongneng_application .applicationField dl dd .anniu .color{ background:#e8e8e8}

.gongneng_application .tablePanel_01{ margin:0; padding:0}
.gongneng_application .child{  width:740px;}


.userList_pannel{ width:100%}
.userList_pannel .titleStyle{ padding:5px 0 5px 20px;; width:760px}
.userList_pannel .titleStyle{zoom:1}
.userList_pannel .titleStyle:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.userList_pannel .titleStyle .daochuBtn{ float:right}
.userList_pannel .titleStyle .btn{ margin-right:10px;}
.userList_pannel .titleStyle input{ vertical-align:middle; margin-right:15px}


.userList_pannel .checkField{ width:100%; background:#ffffff}
.userList_pannel .checkField .checkArea{padding:5px 0 20px 20px;; width:760px}
.userList_pannel .checkField .checkArea ul{}
.userList_pannel .checkField .checkArea li{ position:relative; padding:8px 0; border-bottom:1px solid #e1dfdf}
.userList_pannel .checkField .checkArea li .more{ position:absolute; right:0; top:4px; line-height:24px;}
.userList_pannel .checkField .checkArea dl{zoom:1;zoom:1}
.userList_pannel .checkField .checkArea dl:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.userList_pannel .checkField .checkArea dt{ float:left; width:70px; font-weight:bold}
.userList_pannel .checkField .checkArea dd{ margin-left:70px;}
.userList_pannel .checkField .checkArea dd label{ padding:0 10px 0 5px}
.userList_pannel .checkField .checkArea dd input{ vertical-align: middle}
.userList_pannel .checkField .checkArea .searchPanel_01{ padding:20px 0 0; margin:0}
.userList_pannel .checkField .checkArea .searchPanel_01:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.userList_pannel .checkField .checkArea .searchPanel_01 .searchField{ float:none;  font-size:0;}
.userList_pannel .checkField .checkArea .searchPanel_01 .searchField .searchTxt{ width:245px; padding-right:36px;}

.userList_pannel .listField{ width:100%}
.userList_pannel .listField .listArea{padding:5px 0 20px 20px;; width:760px}
.userList_pannel .listField .listArea .titleStyle{ padding:20px 0}
.userList_pannel .listField .listArea dl{}
.userList_pannel .listField .listArea dl dd{ margin:0 0 20px; padding:15px; background:#ffffff}

 .mebtablestyle_01{ width:100%; margin:0; padding:0}
 .mebtablestyle_01 td{ vertical-align:top}
 .mebtablestyle_01 .tdwd1{ width:30px}
 .mebtablestyle_01 .tdwd2{ width:100px}
 .mebtablestyle_01 .tdwd3{ width:230px;}
 .mebtablestyle_01 .tdwd4{ width:200px; text-align:right}
 .mebtablestyle_01 .infor{ zoom:1}
 .mebtablestyle_01 .infor:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
 .mebtablestyle_01 .infor .pic{ float:left; width:110px; height:110px; border:1px solid #c5c5c5}
 .mebtablestyle_01 .infor .con{ margin-left:130px;}
 .mebtablestyle_01 .infor .con h2{ font-weight:bold; }
 .mebtablestyle_01 .infor .con p{ line-height:22px}
 .mebtablestyle_01 .infor .con p em{ font-style:normal; color:#ff9600}
 .mebtablestyle_01 .infor .con .biaoqian{display:inline-block;zoom:1;*display:inline; vertical-align:middle; }
 .mebtablestyle_01 .infor .con .spanStyle{ display:inline-block;zoom:1;*display:inline; vertical-align:middle; margin-left:5px; width:13px; height:13px; background:url(../images/icon_14.png) 0 0 no-repeat; position:relative}
 .mebtablestyle_01 .infor .con .spanStyle .ckbqBtn{ display:block; width:13px; height:13px;}
 .mebtablestyle_01 .infor .con .spanStyle .spanContent{ position:absolute; right:-317px; top:0; width:300px; border:1px solid #6ba109; background:#ffffff; padding:15px 0 15px 15px; z-index:3; display:none}
 .mebtablestyle_01 .infor .con .spanStyle .spanContent dl{zoom:1}
 .mebtablestyle_01 .infor .con .spanStyle .spanContent dl:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
 .mebtablestyle_01 .infor .con .spanStyle .spanContent dt{ float:left; width:100px; }
 .mebtablestyle_01 .infor .con .spanStyle .spanContent dt input{ vertical-align:middle}
 .mebtablestyle_01 .infor .con .spanStyle .spanContent dt label{ padding-left:3px}
 .mebtablestyle_01 .infor .con .spanStyle .spanContent .pageStyle{ margin:10px 15px 10px 0; padding:6px 16px 6px 0; border:1px solid #a8a8a8; border-left:0 none;border-right:0 none;zoom:1  }
 .mebtablestyle_01 .infor .con .spanStyle .spanContent .pageStyle:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
 .mebtablestyle_01 .infor .con .spanStyle .spanContent .pageStyle .inf{ float:right; color:#555555}
 .mebtablestyle_01 .infor .con .spanStyle .spanContent .pageStyle a{ display:inline-block; color:#ffffff; line-height:18px; padding:0 5px; background:#8c8c8c; vertical-align:middle; font-size:12px; margin:0 1px;}
 .mebtablestyle_01 .infor .con .spanStyle .spanContent .pageStyle a:hover{ background:#fff; color:#000000;}
 .mebtablestyle_01 .infor .con .spanStyle .spanContent .pageStyle a.current{ color:#000000; background:#ffffff;}
 .mebtablestyle_01 .infor .con .spanStyle .spanContent .pageStyle  .prev, .mebtablestyle_01 .infor .con .spanStyle .spanContent .pageStyle .next{ background:#ffffff; color:#000000}
 .mebtablestyle_01 .infor .con .spanStyle .spanContent .anStyle .btn{ margin-right:10px}
 .mebtablestyle_01 .infor .pic_02{ float:left; width:60px; height:60px;border:1px solid #c5c5c5; overflow:hidden} 
 .mebtablestyle_01 .infor .con_02{ margin-left:80px}
 .mebtablestyle_01 .infor .con_02 h2{ font-weight:bold; line-height:25px }
 .mebtablestyle_01 .infor .con_02 p{ color:#888888}
 .mebtablestyle_01 .infor .div{ padding:5px 0}
 .mebtablestyle_01 .tdwd4 .btn{ margin-left:10px}
 .mebtablestyle_01 input{ vertical-align:middle;}
 .mebtablestyle_01 label{ padding:0 4px}
 .mebtablestyle_01 .selectAera{ width:90px; border:0 none; text-align:right}
 .mebtablestyle_01 .selectAera .selected { background:url(../images/icon_15.png) 100% 50% no-repeat}
 .mebtablestyle_01 .selectAera .selectAera .options li { margin:0 !important; text-align:left !important}
 
 .mebtablestyle_01 .detailBtn{ text-align:right;}
 .mebtablestyle_01 .detailBtn span{ color:#888888}
 .mebtablestyle_01 .detailBtn .btn{ margin-left:10px}
 .mebtablestyle_01 .pstyle{ color:#888888; text-align:right}
 .mebtablestyle_01 .pstyle img{ padding:0 0 0 4px}
 .mebtablestyle_01 .pstyle span{ color:#ff9600}

.user_messageList{padding:5px 0 20px 20px;; width:760px}
.user_messageList dl{}
.user_messageList dl dd{ margin:0 0 20px; padding:15px; background:#ffffff}
.user_messageList .titleStyle{ padding-bottom:20px; zoom:1}
.user_messageList .titleStyle:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.user_messageList .titleStyle .btn{ float:right}
.user_messageList .titleStyle h2{ font-weight:bold}


.userDetail{margin: 20px; width:760px;}
.userDetail .bg{ background:#ffffff;padding: 20px;}
.userDetail .introField{ padding:0 0 20px}
.userDetail .detailField{ border-top:1px solid #a8a8a8; padding:20px 0 0 130px}
.userDetail .detailField .table_02{ width:100%; margin:0; padding:0;}
.userDetail .detailField .table_02 dl{zoom:1; padding-bottom:10px}
.userDetail .detailField .table_02 dl:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.userDetail .detailField .table_02 dt{ float:left; width:65px}
.userDetail .detailField .table_02 dd{ margin-left:65px; padding:0}
.userDetail .detailField .table_02 dd .txt{ width:180px}
.userDetail .detailField .table_02 dd .txt2{ width:375px}
.userDetail .detailField .table_02 dd .txt3{ width:475px}
.userDetail .detailField .table_02 .sect .selectAera{ width:192px}
.userDetail .detailField .table_02 dd .btn{ margin-left:10px}
.userDetail .detailField .table_02 dd .textarea{ width:475px}

.userDetail .detailField .btnPanel_01{ padding-left:45px}
.userDetail .jiluList{}
.userDetail .jiluList h2{ font-size:14px; font-weight:bold; padding:15px 0}
.userDetail .jiluList .tablePanel_01 {min-width:0; margin:0 0 20px; border:1px solid #c7ced3; padding:0}
.userDetail .jiluList .tablePanel_01 .time{ border-right:0 none}
.userDetail .jiluList .staiton{ padding:10px 0}
.userDetail .jiluList .btnPanel_01{ margin:0; padding-left:0; border-top:1px solid #a8a8a8; width:100%}


.publicNum_infor{ padding:20px 0 20px 20px; width:760px}
.publicNum_infor .publicInfor{ padding:20px; background:#ffffff;}
.publicNum_infor .publicInfor .publicInforarea{ background:url(../images/logo_02.jpg) 0 50% no-repeat; padding:0 0 0 273px }
.publicNum_infor .publicInfor .publicInforarea .content{ border-left:1px solid #a8a8a8}
.publicNum_infor .publicInfor .publicInforarea .content .pubtableStyle{ width:100%; margin:0; padding:0}
.publicNum_infor .publicInfor .publicInforarea .content .pubtableStyle th{ text-align:right; font-weight:bold}
.publicNum_infor .publicStatistics{ width:100%}
.publicNum_infor .publicStatistics .tablePanel_01{ margin:0; padding:20px 0 0}
.publicNum_infor .publicStatistics .tablePanel_01 .on{ background:#ffffff;}
.publicNum_infor .publicStatistics .tablePanel_01 .on a{ color:#000}
.publicNum_infor .publicStatistics .tablePanel_01 th{ text-align:center}
.publicNum_infor .publicStatistics .tablePanel_01 th a{ display:inline-block;zoom:1;*display:inline; padding:0 0 0 35px; height:28px; line-height:28px; color:#555}
.publicNum_infor .publicStatistics .tablePanel_01 th .link1{background:url(../images/icon_18.png) 0 50% no-repeat; }
.publicNum_infor .publicStatistics .tablePanel_01 th .link2{background:url(../images/icon_19.png) 0 50% no-repeat; }
.publicNum_infor .publicStatistics .tablePanel_01 th .link3{background:url(../images/icon_20.png) 0 50% no-repeat; }
.publicNum_infor .publicStatistics .tablePanel_01 .on .link1{background:url(../images/icon_21.png) 0 50% no-repeat; }
.publicNum_infor .publicStatistics .tablePanel_01 .on .link2{background:url(../images/icon_22.png) 0 50% no-repeat; }
.publicNum_infor .publicStatistics .tablePanel_01 .on .link3{background:url(../images/icon_23.png) 0 50% no-repeat; }
.publicNum_infor .publicStatistics .children{ width:100%; background:#fff; border-top:1px solid #c7ced3}
.publicNum_infor .publicStatistics .children .child{ padding:14px; display:none}
.publicNum_infor .publicStatistics .children .act{ display:block}

.publicNum_infor .publicStatistics .children .child h1{ zoom:1; padding:10px 0}
.publicNum_infor .publicStatistics .children .child h1:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow:hidden;}
.publicNum_infor .publicStatistics .children .child h1 .more{ float:right; display:block}
.publicNum_infor .publicStatistics .children .child h1 b{ font-size:14px}
.publicNum_infor .publicStatistics .children .child h2{ font-size:12px; font-weight:bold; background:url(../images/icon_02.gif) 0 50% no-repeat; padding:10px 0 10px 6px;}
.publicNum_infor .publicStatistics .children .child h3{ font-weight: normal; background:url(../images/icon_03.gif) 0 50% no-repeat; padding:5px 0 5px 25px; width:125px; margin:0 auto}
.publicNum_infor .publicStatistics .children .child .part{ border-top:1px solid #a8a8a8; padding:20px 0 0; margin:20px 0 0}











